.searchCategories {
   font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   
 
        p {
            color: $mainColor;
            font-size: 1rem;
            
        } 

        input:checked+label {
            color: $accentColor;
        }
    
}

.fas.fa-filter {
    margin-right: 20px;

}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
     justify-content: flex-end;
}


.searchCategories label {
    font-family: $bodyFont;
    color: $mainColor;
    line-height: 1.5;
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 20px;
        &:hover {
            border-bottom: 1px solid $mainColor;
        }
}

#all, 
#alcoholic, 
#Non\ alcoholic {
    display: none;
}


@media (max-width: 620px) {
    .searchCategories {
     align-items: center;
     justify-content: center;
    
    
        label {
         
            padding-bottom: 5px;
            margin: 0;
            
           
        }
    }

    .categoriesContainer {
        flex-direction: column;
        width: 50%;
        margin: 0;

    }

    .fas.fa-filter {
        display: none;
      
}

}


