// variables
$mainFont: "Playfair Display", serif;



// mixins




// styles

.header{
    background-image: url("header-image.jpg");
    min-width: 100vw;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
h1{
    font-family: $mainFont;
    margin: 0 auto;
    color: #f3f3f3;
}

.header h2 {
    color: #f3f3f3;
    font-family: $mainFont;
    text-align: center;
    padding-bottom: 20px;
}
.searchContainer {
    width: 40%;
    margin-bottom: 1%;
}

.searchButtonContainer {
    width: 17%;
}

.mainForm {
   margin-top: 50px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.mainForm input[type=text] {
    width: 70%;
    height: 40px;
    padding: 3px 0;
}
.mainButton {
    font-family: serif;
    padding: 5px 10px;
    color: grey ;
    width: 100%;
    border-radius: 20px;

}



