

$backgroundColor: #E6E0E0;


* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.resultDisplay {
    width: calc(25% - 2.5%);
    display: flex;
    flex-direction: column;
   background-color: white;
   margin-top: 5%;

}

.drinkInfo {
    margin: 7%;
}

.resultDisplay img {
    max-width: 100%;

}

.results {
    background-color: $backgroundColor;
}

.rating {
    padding-right: 5%;
}

