
$mainColor: #5705C5;
$backgroundColor: #E6E0E0;
$accentColor: #5FD2B9;




.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.recipeBox {
  width: calc(25% - 2.5%);
  display: flex;
  flex: 1 0 250px;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  position: relative;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  img {
    max-width: 100%;
  }
  &.expanded {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.drinkInfo {
  margin: 7%;
}

.drinkInfo p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: .8rem;
}

.results {
  background-color: $backgroundColor;
}

.rating {
  padding-right: 5%;
}

.favouriteButton {
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  color: #aaa;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 300ms;

  &:hover, &:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05)

  }
  &:active {
    transform: scale(1.1)
  }

  &.unfavourite {
    background-color: $accentColor;
    color: $mainColor;
  }
}

.favouriteButton i {
  font-size: 28px; 
}

.readMore {
  border: none;
  color: $mainColor;
  font-size: 1rem;
  width: 100%;
  text-align: left;

  &.less{
    margin-top: auto;
  }

  &:hover {
      color: lighten($mainColor, 20)
  }
}

// EXPANDED RESULTS

.expanded {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
  img{
    width: 100%;
  }
  .imgAndRating {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  margin: 10px;
  }
  .moreDetails  {
  flex: 1 1 300px;
  }

  .ingredientsInstructions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .ingredients {
      margin: 10px;
    }
    .instructions {
      flex: 1 1 250px;
      margin: 10px;
    }
  }
  h2 {
    flex-basis: 100%;
    margin: 0 10px;
  }
  ul {
    list-style: none;

    font-family: $bodyFont;
  }
  .noteSection {
    width: 100%;
    margin: 10px;

    p {
      display: block;
      padding: 5px;
      margin: 10px 0;
      background: #f8f8f8;

    }
    button {
      padding: 4px 10px;
      margin: 10px 0;
      color: #fff;
      background: $mainColor;

      &:hover{
        background: darken($mainColor, 10)
      }

    }
    .noteName {
      font-family: $mainFont;
    }
  }
  textarea {
    width: 100%;
    resize: none;
  }
  input, textarea {
    border: 1px solid $backgroundColor;
    margin: 10px 0;
    padding: 5px;
    border-radius: 0;
  }
  .noteName {

  }
}

.noteSection button, 
.expanded .ratingContainer {

    margin: 20px 0;
}


textarea {
    overflow: hidden;
    resize: none;
    height: 100px;
    width: 543px;
}




.ratingContainer {
    display: flex;
        .rating {
            padding: 0;
        }
}



