
@import 'partials/setup.scss';
@import 'partials/mainSection';
@import 'partials/header.scss';
@import 'partials/ratings.scss';



//main styles

.wrapper {
  max-width: 90%;
  margin: 0 auto;

}

.App {
  text-align: center;

}

//font styles 

h1 {
  font-family: $mainFont;
  font-size: 2.5rem;
}

h2 {
  font-family: $mainFont;
}

p {
  font-family: $bodyFont;
}




