
@import 'partials/setup.scss';
@import 'partials/mainSection';
@import 'partials/header.scss';
@import 'partials/ratings.scss';
@import 'partials/footer.scss';
@import 'partials/dropdown.scss';


// media queries

@media (max-width: 805px) {
  h1 {
    font-size: 2rem;
  }
  .recipesContainer {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.7rem;
  }
  input, select, textarea {
    font-size: 85%;
    }
    
  .recipesContainer {
    justify-content: center;
  }

  .mainButton {
    padding: 7px 25px;
  }
}



